<configuration>
  <property name="LOG_DIR" value="/var/log/mpgApp" />

  <!-- 標準出力用設定 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%c] %-5level %msg%n
      </pattern>
    </encoder>
  </appender>

  <!-- ファイル出力用設定 -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- 日毎にログファイルを切り替える -->
      <fileNamePattern>app-%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- 保持しておくログアーカイブファイルの最大数 -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%c] %-5level %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

  <logger name="org.java_websocket.WebSocketImpl" level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>